html{ background-color:#000; font-family:monospace; font-size:60px; width:100%; color:#fff;
    text-shadow:1px 1px rgba(255,0,0,0.7), 1px -1px rgba(0,255,255,0.7);
}
body{ width:80%; margin: 40px auto; }
img{ filter:drop-shadow(1px 1px rgba(255,0,0,0.5)) drop-shadow(1px -1px rgba(0,255,255,0.5)); }
h1{ font-size:150%; display:inline-block; }
a{ text-decoration:none; color:#fff; transition:all 0.5s ease 0s; }
a:hover{ color:#eee; opacity:0.7; transition:all 0.5s ease 0s; }
.logo{ filter:invert(0); transition:all 0.5s ease 0s; height:70px; display:inline-block; }
.logo:hover{ filter:invert(0.5); transition:all 0.5s ease 0s; }

.header{ margin-bottom: 40px; }

.social { font-size:30%; }
.social a{ text-decoration:underline; }

.mohuca{ background:black url(../img/mohuca.png) no-repeat center / cover; }
.trpl{ background:black url(../img/trpl.png) no-repeat center / cover; }
.avail{ background:black url(../img/avail.jpg) no-repeat center / cover; }

.work{ width:350px; height:200px; display:inline-block; }
.blog{ padding-top:40px; }
.post{ font-size:50%; }

/* mobile */
@media (max-width:1024px) {
    .work{ width:100%; }
    .left, .right{ float:none; width:100%; }
}
